DeletedItems/*
DeletedItems
.vscode
build
help
help/*
dlib/*
dlib
staticLibs/*
staticLibsHeaders/*
MakeFile
shape_predictor_68_face_landmarks.dat.bz2
shape_predictor_68_face_landmarks.dat
libjpeg-turbo-master
v4l2loopback-master
workspace.code-workspace
cmake-build-debug/*
.idea/*
venv

external/onnxruntime
external/onnxruntime*
todo
*.log
imgui.ini
models_to_use
models_from_docker
experimental
test
models
media
WFLW

