[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/v4l2loopback"]
	path = external/v4l2loopback
	url = https://github.com/umlaeute/v4l2loopback.git
