DeletedItems/*
DeletedItems
.vscode
build
help
help/*
dlib/*
dlib
staticLibs/*
staticLibsHeaders/*
MakeFile
shape_predictor_68_face_landmarks.dat.bz2
shape_predictor_68_face_landmarks.dat
libjpeg-turbo-master
v4l2loopback-master
workspace.code-workspace
cmake-build-debug/*
.idea/*
venv
